
@font-face {
    font-family: "PP Editorial New";
    src: url("fonts/PPEditorialNew-Ultralight.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}
body{
    background: rgb(241, 241, 241);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}
*{
    text-decoration: none;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 0.5s;
    color: black;
}
a:hover{
    color: gray;
}
h1{
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: black;
    font-family: "PP Editorial New", "Cormorant Garamond", serif;
    /* font-style: italic; */
    font-size: 30px;
}
#header{
    width: 100%;
    padding: 2rem 1.5rem 1.5rem;
    text-align: center;
    /* border-bottom: 1px solid #ccc; */
}
/* #first{
    padding-left: 60px;
    padding-left: 60px;
    width: 20px;
    display: block;
    float: left;
}
#second{
    padding-left: 60px;
    width: 20px;
    display: block;
    float: left;
}
#third{
    padding-left: 60px;
    width: 20px;
    display: block;
    float: left;
} */
#text{
    height: 100%;
    width: 30%;
    /* padding-top: 20px; */
    padding-left: 85px;
}
#text p{
    font-size: 12px;
}
#text a{
    color: red;
}
#text a:hover{
    color: black;
}
#body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 1.5rem 2rem;
    padding: 2rem 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}
#body > div{
    display: flex;
    flex-direction: column;
}
#body a{
    /* font-size: small; */
}
#body p{
    color: gray;
    margin: 0.25rem 0 0;
    font-size: small;
    /* display: none; */
}
#body img{
    width: 100%;
    height: 155px;
    object-fit: cover;
    display: block;
    padding-bottom: 8px;
}
#body img:hover{
    scale: 1.05;
}

::selection{
    background-color: orange;
    color: white;
}
hr{
    height: 1px;
    width: 700px;
    padding-left: 20px;
    color: red;
    background-color: red;
    border: none;
}
#small{
    color: gray;
    font-size: 11px;
}
#small a{
    color: #C63E1D;
}
#links a{
    font-size: 11px;
    color: gray;
}