
@font-face {
    font-family: "PP Editorial New";
    src: url("fonts/PPEditorialNew-Ultralight.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}
body{
    background: rgb(241, 241, 241);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 0.5s;
    color: black;
}
a:hover{
    color: gray;
}
h1{
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: black;
    font-family: "PP Editorial New", "Cormorant Garamond", serif;
    /* font-style: italic; */
    font-size: 30px;
}
#header{
    width: 300px;
    height: 150px;
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
#first{
    padding-left: 60px;
    padding-left: 60px;
    width: 20px;
    /*display: block;*/
    float: left;
}
#second{
    padding-left: 60px;
    width: 20px;
    /*display: block;*/
    float: left;
}
#third{
    padding-left: 60px;
    width: 20px;
    /*display: block;*/
    float: left;
}
#text{
    height: 100%;
    width: 30%;
    /* padding-top: 20px; */
    padding-left: 85px;
}
#text p{
    font-size: 12px;
}
#text a{
    color: red;
}
#text a:hover{
    color: black;
}
#body{
    padding: 0px 20px;
    width: 65%;
    height: 100%;
    position: absolute;
    float: right;
    right: 0%;
    top: 20px;
}
#body a{
    font-size: larger;
}
#body p{
    color: gray;
}
#VDAY2026{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#VDAY2026 img{
    width: 270px;
    height: 155px;
}
#NGD{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#NGD img{
    width: 270px;
    height: 155px;
}
#draggable{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#draggable img{
    width: 270px;
    height: 155px;
}
#one55{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#one55 img{
    width: 270px;
    height: 155px;
}
#one55hours{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#one55hours img{
    width: 270px;
    height: 155px;
}
#music{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#music img{
    width: 270px;
    height: 155px;
}
#counter{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#counter img{
    width: 270px;
    height: 155px;
}
#afterdark{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#afterdark img{
    width: 270px;
    height: 155px;
}
#usc{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#usc img{
    width: 270px;
    height: 155px;
}
#film{
    padding: 5px 0px;
    width: 270px;
    /*display: block;*/
    float: right;
    padding-left: 20px;
}
#film img{
    width: 270px;
    height: 155px;
}
::selection{
    background-color: orange;
    color: white;
}
hr{
    height: 1px;
    width: 700px;
    padding-left: 20px;
    color: red;
    background-color: red;
    border: none;
}
#small{
    color: gray;
    font-size: 11px;
}
#small a{
    color: #C63E1D;
}
#links a{
    font-size: 11px;
    color: gray;
}